<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 控制mybatis全局行为 -->
    <settings>
        <!-- 配置mybatis在控制台输出日志信息 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 定义别名 -->
    <typeAliases>
        <!-- 方法1 -->
        <!-- <typeAlias>可以指定一个类型一个自定义别名
              type 自定义类型的全限定名称
              alias 别名（短小，容易记忆）-->
        <typeAlias type="dao.UserInfoDao" alias="UserInfo"/>
        <!-- 方法2 -->
        <!-- <package> name是包名，这个包中的所有类，类名即别名（类名不区分大小写） -->
        <package name="dao"/>
    </typeAliases>

    <!--环境配置：数据库的连接信息
        default：必须和某个environment的id值一样，告诉mybatis使用哪个数据库的连接信息
        也就是使用哪个数据库，便于切换数据库-->
    <environments default="development">
        <!--环境：一个数据库信息的配置
             id：一个唯一值，自定义，表示环境的名称-->
        <environment id="development">
            <!--mybatis的事务类型
                type：JDBC(表示使用JDBC中的connection对象的commit，rollback做事务处理)-->
            <transactionManager type="JDBC"/>
            <!-- 数据源，连接数据库的
                  type：表示数据源的类型，pool额的表示使用连接池-->
            <dataSource type="POOLED">
                <!-- driver、url、username等是固定的，不能自定义-->
                <!-- 数据库驱动名-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 连接数据库的url字符串-->
                <property name="url"
                          value="jdbc:mysql://localhost:3306/MyQQ?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf8"/>
                <!-- 访问数据库的用户名-->
                <property name="username" value="root"/>
                <!-- 密码-->
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 指定SQL mapper(sql映射文件)的位置 -->
    <mappers>
        <!-- 一个mapper标签指定一个文件的位置
        从类路径开始的路径信息。target/classes/-->
        <mapper resource="dao/UserInfoDao.xml"/>
    </mappers>
</configuration>
        <!--mybatis的主配置文件：主要定义了数据库的配置信息，SQL映射文件的位置


        -->